<div class="project-content-container">
    <h3 id="name">{{ name }}</h3>
    <p id="description">
        <span id="description-title">Descrição:</span>
        <span [innerHTML]="description | truncate:200"></span>...
        <app-button 
        *ngIf="description.length > 200"
        [text]="'Ler mais.'"
        [styleType]="3"
        [redirectTo]="'/project/' + id"></app-button>
    </p>
    <p id="idea">
        <span id="idea-title">Proposta:</span>
        <span [innerHTML]="proposal | truncate:200"></span>...
        <app-button 
        *ngIf="proposal.length > 200"
        [text]="'Ler mais.'"
        [styleType]="3"
        [redirectTo]="'/project/' + id"></app-button>
    </p>
    <div class="stack-container">
        <app-icon *ngFor="let tech of stack" [name]="tech" [size]="'30px'"></app-icon>
    </div>
    <hr>
    <div class="links">
        <app-button 
        [text]="'Acessar página do projeto'"
        [icon]="'keyboard_arrow_right'"
        [styleType]="2"
        [redirectTo]="'/portfolio/project'"
        [redirectParam]="id"></app-button>
    </div>	
</div>