<app-base-container>
    <app-section-title [text]="'Meios de'" [emphasis]="'Contato'"></app-section-title>
    <div class="inside-container">
        <div class="items-container">
            <div class="item item-1">
                <div class="content">
                    <i class="material-icons">smartphone</i>
                    <div class="bottom">
                        <h3>Telefone/WhatsApp</h3>
                        <p>Precisa de uma resposta rápida? Entre em contato pelo número abaixo.</p>
                        <p id="link"><a href="#">(013) 99183-8939</a></p>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="content">
                    <i class="material-icons">alternate_email</i>
                    <div class="bottom">
                        <h3>E-mail</h3>
                        <p>Entre em contato diretamente pelo meu e-mail para dúvidas, propostas de projetos ou colaborações. Responderei o mais rápido possível.</p>
                        <p id="link"><a href="#">raphaelmunizvarela&#64;gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="item item-3">
                <div class="content">
                    <app-icon [name]="'linkedin'" [size]="'50px'"></app-icon>
                    <div class="bottom">
                        <h3>Linkedin</h3>
                        <p>Conecte-se comigo no LinkedIn para acompanhar minha trajetória profissional, certificações e publicações.</p>
                        <p id="link"><a href="https://www.linkedin.com/in/raphael-muniz-7119911a2/" target="_blank">Acessar LinkedIn</a></p>
                    </div>
                </div>
            </div>
            <div class="item item-4">
                <div class="content">
                    <i class="material-icons">place</i>
                    <div class="bottom">
                        <h3>Localização</h3>
                        <p id="link"><a href="#">Uberlândia - Minas Gerais</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-base-container>