<section class="main-container">
    <h2>Sobre Nós</h2>
    <div class="inside-container">
        <div class="card">
            <div class="image-container">
                <img src="" alt="Foto">
            </div>
            <div class="info-container">
                <h3>Nome</h3>
                <p>CEO</p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="" alt="Foto">
            </div>
            <div class="info-container">
                <h3>Nome</h3>
                <p>CEO</p>
            </div>
        </div>
        <div class="card">
            <div class="image-container">
                <img src="" alt="Foto">
            </div>
            <div class="info-container">
                <h3>Nome</h3>
                <p>CEO</p>
            </div>
        </div>
    </div>
</section>