.main-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin-bottom: 0;

    &.hero{
        margin-top: -10vh;
    }
}