<footer>
	<div class="container">
		<div class="top">
			<div class="logo-container">
				<img src="assets/icon/icon-3.png" alt="Logo">
				<p>Transformando ideias em soluções digitais.</p>
			</div>
			<nav>
				<ul>
					<p>Home</p>
					<li [routerLink]="['/']" [fragment]="'introduction_'">Introdução</li>
					<li [routerLink]="['/']" [fragment]="'recent_'">Projetos Recentes</li>
					<li [routerLink]="['/']" [fragment]="'skills_'">Habilidades</li>
				</ul>
				<ul>
					<p>Sobre</p>
					<li [routerLink]="['/about']" [fragment]="'personalPresentation_'">Apresentação</li>
					<li [routerLink]="['/about']" [fragment]="'specialization_'">Especialização</li>
					<li [routerLink]="['/about']" [fragment]="'valuesWorkMethodology_'">Valores</li>
				</ul>
				<ul>
					<p>Portfólio</p>
					<li [routerLink]="['/portfolio']">Projetos</li>
					<li>
						<button (click)="redirectTo('github')">Github</button>
					</li>
					<li>
						<button (click)="redirectTo('linkedin')">Linkedin</button>
					</li>
				</ul>
			</nav>
		</div>
		<hr />
		<div class="bottom">
			<div class="copyright">
				&copy; 2024 Portfólio Raphael Muniz. All rights reserved.
			</div>
		</div>
	</div>
</footer>
