<footer>
	<div class="container">
		<div class="top">
			<div class="logo-container">
				<span>LOGO</span>
				<p>Transformando ideias em soluções digitais.</p>
			</div>
			<nav>
				<ul>
					<p>Empresa</p>
					<li>Blog</li>
					<li>Sobre nós</li>
					<li>Orçamento</li>
				</ul>
				<ul>
					<p>Recursos</p>
					<li>Documentação</li>
					<li>Papeis</li>
					<li>Outros</li>
				</ul>
				<ul>
					<p>Legal</p>
					<li>Termos de Serviço</li>
					<li>Política de Privacidade</li>
					<li>Política de Cookies</li>
				</ul>
			</nav>
		</div>
		<hr />
		<div class="bottom">
			<div class="copyright">
				&copy; 2024 Empresa. Inc. All rights reserved.
			</div>
			<div class="links">
				<ul>
					<li>
						<a>Instagram</a>
					</li>
					<li>
						<a>Linkedin</a>
					</li>
					<li>
						<a>Github</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
