<footer>
	<div class="container">
		<div class="top">
			<div class="logo-container">
				<img src="/assets/icon/icon-3.png" alt="Logo">
				<p>Transformando ideias em soluções digitais.</p>
			</div>
			<nav>
				<ul>
					<p>Home</p>
					<li>Introdução</li>
					<li>Destaques</li>
					<li>Habilidades</li>
				</ul>
				<ul>
					<p>Sobre</p>
					<li>Apresentação</li>
					<li>Especialização</li>
					<li>Valores</li>
				</ul>
				<ul>
					<p>Portfólio</p>
					<li>Projetos</li>
					<li>Github</li>
					<li>Linkedin</li>
				</ul>
			</nav>
		</div>
		<hr />
		<div class="bottom">
			<div class="copyright">
				&copy; 2024 Portfólio Raphael Muniz. All rights reserved.
			</div>
		</div>
	</div>
</footer>
