<section class="main-container">
    <div class="container">
        <div class="child">
            <div class="content-container">
                <div class="text">
                    <h1>Transformando ideias em soluções digitais.</h1>
                    <p>
                        Com experiência em Java Spring, Node, Angular e React, crio aplicações robustas e escaláveis que aliam eficiência e design. Minha missão é transformar ideias em soluções digitais de alto desempenho, sempre com foco na inovação e na qualidade.
                    </p>
                </div>
                <div class="links">
                    <button pRipple>
                        <span>Explorar projetos</span>
                        <span class="material-icons">chevron_right</span>
                    </button>
                    <a>Saiba mais sobre mim</a>
                </div>
            </div>
        </div>
        <div class="child">
            <div class="card-container">
                <img
                src="/assets/programmer-amico.png"
                alt="Image"
                />
            </div>
        </div>
    </div>
</section>
