<app-base-container [isHeroSection]="true">
    <div class="container">
        <div class="child">
            <div class="content-container">
                <div class="text">
                    <h1>Transformando ideias em soluções digitais.</h1>
                    <p>
                        Com experiência em Java Spring, Node, Angular e React, crio aplicações robustas e escaláveis que aliam eficiência e design. Minha missão é transformar ideias em soluções digitais de alto desempenho, sempre com foco na inovação e na qualidade.
                    </p>
                </div>
                <div class="links">
                    <app-button 
                    [text]="'Explorar projetos'"
                    [icon]="'chevron_right'"
                    [redirectTo]="'/portfolio'"></app-button>
                    <app-button 
                    [text]="'Saiba mais sobre mim'"
                    [styleType]="3"
                    [redirectTo]="'/about'"></app-button>
                </div>
            </div>
        </div>
        <div class="child">
            <div class="card-container">
                <img
                src="/assets/programmer-amico.png"
                alt="Image"
                />
            </div>
        </div>
    </div>
</app-base-container>