<section class="main-container">
    <div class="container">
        <div class="child">
            <div class="content-container">
                <div class="text">
                    <h1>Transformando ideias em soluções digitais.</h1>
                    <p>Somos uma consultoria especializada em desenvolver software personalizado, unindo inovação e expertise para criar soluções que atendem às necessidades de cada cliente, impulsionando eficiência e resultados.</p>      
                </div>
                <div class="links">
                    <button pRipple>
                        <span>Iniciar Projeto</span>
                        <span class="material-icons">chevron_right</span>
                    </button>
                    <a>Conheça Nossas Soluções</a>
                </div>
            </div>
        </div>
        <div class="child">
            <div class="image-container">
                <img src="celular.png" alt="Imagem fundo" id="phone">
                <div id="phone-content">
                    <img src="exemplo.png" alt="Imagem" id="inside">
                </div>
            </div>
        </div>
    </div>
</section>