<section class="main-container">
  <div class="inside-container">
    <div class="card size-2">
      <div class="image-container">
        <img src="/assets/netflixclone.png" alt="Imagem de projeto" />
      </div>
      <div class="buttons-container">
        <div class="buttons-division buttons-top">
          <button class="btn" pRipple>
            View Video
            <i class="material-icons">play_circle_outline</i>
          </button>
          <button><span pRipple class="material-icons">call_made</span></button>
        </div>
        <div class="buttons-division buttons-bottom">
          <p>Projeto <span>CLONE SITE NETFLIX</span></p>
        </div>
      </div>
    </div>
    <div class="card size-2">
      <div class="image-container">
        <img src="/assets/coffeexp.png" alt="Imagem de projeto" />
      </div>
      <div class="buttons-container">
        <div class="buttons-division buttons-top">
          <button class="btn" pRipple>
            View Video
            <i class="material-icons">play_circle_outline</i>
          </button>
          <button><span pRipple class="material-icons">call_made</span></button>
        </div>
        <div class="buttons-division buttons-bottom">
          <p>Projeto <span>Coffee XP</span></p>
        </div>
      </div>
    </div>
    <div class="card size-3">
      <div class="image-container">
        <img src="/assets/reactgram.png" alt="Imagem de projeto" />
      </div>
      <div class="buttons-container">
        <div class="buttons-division buttons-top">
          <button class="btn" pRipple>
            View Video
            <i class="material-icons">play_circle_outline</i>
          </button>
          <button><span pRipple class="material-icons">call_made</span></button>
        </div>
        <div class="buttons-division buttons-bottom">
          <p>Projeto <span>Reactgram</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
