.card{
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 8;
    background-color: #fff;
    border-radius: 30px;
    padding: 1.5vw;
    border: 1px solid rgba(17, 17, 17, 0.2196078431);
    color: #111111;
    
    .color-1{
        fill: #f89820 !important;
        color: #f89820 !important;
    }
    
    .color-2{
        fill: #6DB33F !important;
        color: #6DB33F !important;
    }
    
    .color-3{
        fill: #339933 !important;
        color: #339933 !important;
    }
    
    .color-4{
        fill: #007acc !important;
        color: #007acc !important;
    }
    
    .color-5{
        fill: #dd1b16 !important;
        color: #dd1b16 !important;
    }
    
    .color-6{
        fill: #61DAFB !important;
        color: #61DAFB !important;
    }
    
    .color-7{
        fill: #0db7ed !important;
        color: #0db7ed !important;
    }
    
    .color-8{
        fill: #f1502f !important;
        color: #f1502f !important;
    }
    
    .color-9{
        fill: #0078D4 !important;
        color: #0078D4 !important;
    }
    
    .color-10{
        fill: #336791 !important;
        color: #336791 !important;
    }
    
    .content-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
        .icon-container{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            
            svg{
                height: 7vh;
                font-size: 2.5rem;
            }
        }
        
        .info-container{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: .5vh;
            
            h5{
                font-size: 1.5rem;
                color: #43b443;
            }
            
            p{
                font-size: 1rem;
            }
        }
    }
}