<app-base-container>
	<app-section-title [text]="'Minhas'" [emphasis]="'habilidades conceituais'"></app-section-title>
	<div class="inside-container">
		<div class="grid-container">
			<div pRipple class="item card-1 card-l card-l-1" *ngIf="frontendConceptualSkills.length > 0"> 
				<app-topic-card
				[name]="'FRONTEND'"
				[icon]="'brush'"
				[description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
				[link]="'aaa'"></app-topic-card>
			</div>
			<div pRipple class="item card-2 card-n right" *ngIf="frontendConceptualSkills.length > 0">
				<app-carousel
				class="carousel"
				[slidesPerView]="1.5"
				[centeredSlides]="true"
				[spaceBetween]="10"
				[withShadowLeft]="true">
					<swiper-slide class="carousel-item" *ngFor="let skill of frontendConceptualSkills">
						<app-card [icon]="skill.icon" [title]="skill.name" [description]="skill.description"></app-card>
					</swiper-slide>
				</app-carousel>
			</div>
			<div pRipple class="item card-4 card-n left" *ngIf="backendConceptualSkills.length > 0">
				<app-carousel
				class="carousel"
				[slidesPerView]="1.5"
				[centeredSlides]="true"
				[spaceBetween]="10"
				[withShadowLeft]="true">
					<swiper-slide class="carousel-item" *ngFor="let skill of backendConceptualSkills">
						<app-card [icon]="skill.icon" [title]="skill.name" [description]="skill.description"></app-card>
					</swiper-slide>
				</app-carousel>
			</div>
			<div pRipple class="item card-6 card-l card-l-2" *ngIf="backendConceptualSkills.length > 0">
				<app-topic-card
				[name]="'BACKEND'"
				[icon]="'dns'"
				[description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
				[link]="'aaa'"></app-topic-card>
			</div>
			<div pRipple class="item card-7 card-l card-l-3" *ngIf="generalConceptualSkills.length > 0">
				<app-topic-card
				[name]="'GERAL'"
				[icon]="'add_circle_outline'"
				[description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit.'"
				[link]="'aaa'"></app-topic-card>
			</div>
			<div pRipple class="item card-8 card-n right" *ngIf="generalConceptualSkills.length > 0">
				<app-carousel
				class="carousel"
				[slidesPerView]="1.5"
				[centeredSlides]="true"
				[spaceBetween]="10"
				[withShadowLeft]="true">
					<swiper-slide class="carousel-item" *ngFor="let skill of generalConceptualSkills">
						<app-card [icon]="skill.icon" [title]="skill.name" [description]="skill.description"></app-card>
					</swiper-slide>
				</app-carousel>
			</div>
		</div>
	</div>
</app-base-container>
