<h2 mat-dialog-title>Prévia do projeto: {{ data.projectName }}</h2>
<mat-dialog-content>
    <iframe width="800" height="515" [src]="data.source | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
