:host{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0 10.5vw;
}

.main-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5vh 0;
    
    .title-container{
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        
        h1{
            width: 70%;
            font-weight: 700;
            font-size: 3rem;
            line-height: normal;
            
            span{
                color: grey;
            }
        }
    }
    
    .projects-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 1.5vh 1%;
        
        .project-card{
            position: relative;
            display: flex;
            height: fit-content;
            aspect-ratio: 1 / 1;
            width: calc(98%/2);
            background: radial-gradient( circle at 100% bottom, #6B5BE5 10%, #6e62cb 25%, rgb(96, 84, 190) 60%);
            border-radius: 30px;
            padding: 3vw;
            cursor: pointer;
            
            .intern{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                
                .header{
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    height: 20%;
                    gap: 1vh 0;
                    
                    .left{
                        position: relative;
                        display: flex;
                        width: fit-content;
                        flex-wrap: wrap;
                        flex-direction: column;
                        height: fit-content;
                        
                        .project-type{
                            font-size: 2rem;
                            font-weight: 700;
                            color: #fff;
                        }
                        
                        .project-name{
                            font-size: 1.2rem;
                            font-weight: 300;
                            color: #fff;
                        }
                    }
                    
                    .right{
                        position: relative;
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        
                        span{
                            border-radius: 50%;
                            padding: 1vw;
                            aspect-ratio: 1 / 1;
                            background-color: #fff;
                            font-size: 1.2rem;
                        }
                    }
                    
                }
                
                .content{
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 80%;
                    justify-content: center;
                    align-items: flex-end;
                    
                    &::after{
                        content: '';
                        position: absolute;
                        width: 150%;
                        height: 30%;
                        z-index: 10;
                        bottom: -3vw;
                        background-image: linear-gradient( 360deg, rgba(0, 0, 0, 0.9) 31.45%, rgba(0, 0, 0, 0.4) 72.5%, rgba(0, 0, 0, 0.1) 93.45%);
                        background-image: linear-gradient( 360deg, #6b5be5 31.45%, #6e62cb94 72.5%, #7b6fd711 93.45%);
                    }
                    
                    .image-container{
                        position: absolute;
                        bottom: -3vw;
                        width: 80%;
                        height: 100%;
                        border-radius: 20px 20px 0 0;
                        border: 3px solid #fff;
                        overflow: scroll; 
                        scrollbar-width: none; 
                        -ms-overflow-style: none; 
                        
                        img{
                            position: relative;
                            width: 100%;
                            object-fit: contain;
                            object-position: top;
                        }
                    }
                }
            }
        }
    }
}