<section class="main-container">
    <div class="title-container">
        <h1>Cada projeto, um marco em <span>inovação e qualidade</span></h1>
    </div>
    <app-portfolio-projects-header></app-portfolio-projects-header>
    <div class="projects-container">
        <app-portfolio-project-card [name]="'Clone Netflix'" [proposal]="'Proposta do projeto clone netflix. texto exemplar, apenas testando.'" [image]="'netflixclone.png'" pRipple></app-portfolio-project-card>
        <app-portfolio-project-card pRipple></app-portfolio-project-card>
        <app-portfolio-project-card pRipple></app-portfolio-project-card>
        <app-portfolio-project-card pRipple></app-portfolio-project-card>
    </div>
</section>