<section class="main-container">
    <div class="title-container">
        <h1>Cada projeto, um marco em <span>inovação e qualidade</span></h1>
    </div>
    <div class="container">
        <div class="child image-container">
            <img src="https://img.freepik.com/fotos-premium/laptop-celular-e-tablet-pc-digital-na-prateleira-de-parede-azul-fundo-vertical-ilustracao-3d_118047-8887.jpg" alt="Imagem">
        </div>
        <div class="child">
            <div class="content-container">
                <div class="item-container">
                    <div class="item">
                        <h5><span>01</span>AI Revolution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <hr>
                <div class="item-container">
                    <div class="item">
                        <h5><span>01</span>AI Revolution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <hr>
                <div class="item-container">
                    <div class="item">
                        <h5><span>01</span>AI Revolution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="content-container">
                <div class="grid-template">
                    <div pRipple class="item card-1">Item 1</div>
                    <div pRipple class="item card-2">Item 2</div>
                    <div pRipple class="item card-3">Item 3</div>
                    <div pRipple class="item card-4">Item 4</div>
                    <div pRipple class="item card-5">Item 5</div>
                    <div pRipple class="item card-6">Item 6</div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-container">
        <div class="project-card" pRipple>
            <div class="intern">
                <div class="header">
                    <div class="left">
                        <h2 class="project-type">Landing Page</h2>
                        <h2 class="project-name">CoffeeXP</h2>
                    </div>
                    <div class="right">
                        <span class="material-icons">call_made</span>
                    </div>                
                </div>
                <div class="content">
                    <div class="image-container">        
                        <img src="exemplo.png" alt="Project Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card" pRipple>
            <div class="intern">
                <div class="header">
                    <div class="left">
                        <h2 class="project-type">Landing Page</h2>
                        <h2 class="project-name">CoffeeXP</h2>
                    </div>
                    <div class="right">
                        <span class="material-icons">call_made</span>
                    </div>                
                </div>
                <div class="content">
                    <div class="image-container">        
                        <img src="exemplo.png" alt="Project Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card" pRipple>
            <div class="intern">
                <div class="header">
                    <div class="left">
                        <h2 class="project-type">Landing Page</h2>
                        <h2 class="project-name">CoffeeXP</h2>
                    </div>
                    <div class="right">
                        <span class="material-icons">call_made</span>
                    </div>                
                </div>
                <div class="content">
                    <div class="image-container">        
                        <img src="exemplo.png" alt="Project Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card" pRipple>
            <div class="intern">
                <div class="header">
                    <div class="left">
                        <h2 class="project-type">Landing Page</h2>
                        <h2 class="project-name">CoffeeXP</h2>
                    </div>
                    <div class="right">
                        <span class="material-icons">call_made</span>
                    </div>                
                </div>
                <div class="content">
                    <div class="image-container">        
                        <img src="exemplo.png" alt="Project Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>