:host{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0 10.5vw;
}

.projects-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 1.5vh 1%;
}