:host{
    width: 100% !important;
}

.recommended-projects-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    ::ng-deep swiper-slide{
        background-color: #fff !important;
        border-radius: var(--border-radius) !important;
    }
}


