<app-base-container>
	<app-section-title [text]="'Depoimentos'" [emphasis]="''"></app-section-title>
	<div class="inside-container" *ngIf="testimonials.length > 0">
		<app-carousel class="carousel">
			<swiper-slide *ngFor="let testimonial of testimonials">
				<div class="cards-column-container">
					<app-carousel-testimonial-card
					[imageUrl]="testimonial.imageUrl"
					[name]="testimonial.name"
					[text]="testimonial.text"
					[position]="testimonial.position"
					></app-carousel-testimonial-card>
				</div>
			</swiper-slide>
		</app-carousel>
	</div>
</app-base-container>
