<div class="page-container">
    <app-base-container>
        <app-section-title [text]="'Projeto'" [emphasis]="project.name !== undefined ? project.name : 'carregando...'"></app-section-title>
        <div class="container">
            <div class="topic-container banner-container" *ngIf="project.imageUrl !== undefined else loadingimage">
                <img
                class="banner" 
                [src]="'assets/projects/banner/main/' + project.imageUrl" 
                alt="Imagem representativa do projeto">
            </div>
            <div class="section-container">
                <div class="child topic-container">
                    <h1><i class="material-icons">lightbulb_outline</i>Proposta</h1>
                </div>
                <div class="child content-container">
                    <p class="p-1" [innerHTML]="project.proposal" *ngIf="project.proposal !== undefined else loading"></p>
                </div>
            </div>
            <hr>
            <div class="section-container t-2">
                <div class="child topic-container">
                    <h1><i class="material-icons">description</i>Descrição</h1>
                </div>
                <div class="child content-container">
                    <p class="p-1" [innerHTML]="project.description" *ngIf="project.description !== undefined else loading"></p>
                </div>
            </div>
            <hr>
            <div class="section-container">
                <div class="child topic-container">
                    <h1><i class="material-icons">all_inbox</i>Stack</h1>
                </div>
                <div class="child content-container">
                    <ul class="p-1 stack-list" *ngIf="project.stack !== undefined else loadingstack">
                        <li *ngFor="let tech of project.stack">
                            <app-icon [name]="tech" [size]="'50px'"></app-icon>
                            <p>{{ tech }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="section-container t-2">
                <div class="child topic-container">
                    <h1><i class="material-icons">link</i>Links</h1>
                </div>
                <div class="child content-container">
                    <ul class="p-1 links-list">
                        <li *ngIf="project.repositoryUrl !== undefined else loadinglink">
                            <app-button 
                            [text]="'Repositório GitHub'"
                            [icon]="'folder_open'"
                            [redirectToExtern]="'https://github.com/RaphaelMun1z/'+project.repositoryUrl"></app-button>
                        </li>
                        <li *ngIf="project.projectUrl !== undefined else loadinglink">
                            <app-button 
                            [text]="'Acessar Projeto'"
                            [icon]="'open_in_new'"
                            [redirectToExtern]="'https://github.com/RaphaelMun1z/'+project.projectUrl"></app-button>
                        </li>
                    </ul>
                </div>
            </div>
            <app-recommended-projects [relatedProjects]="relatedProjects"></app-recommended-projects>
        </div>
    </app-base-container>
</div>
<ng-template #loadingimage>
    <p-skeleton width="100%" height="40vh"/>
</ng-template>
<ng-template #loading>
    <p-skeleton width="100%" height="1.7rem" styleClass="mb-2" />
    <p-skeleton width="82%" height="1.7rem" styleClass="mb-2" />
    <p-skeleton width="91%" height="1.7rem" styleClass="mb-2" />
    <p-skeleton width="87%" height="1.7rem" styleClass="mb-2" />
    <p-skeleton width="89%" height="1.7rem" styleClass="mb-2" />
</ng-template>
<ng-template #loadingstack>
    <div [style]="{'display': 'flex', 'align-items': 'center'}">
        <p-skeleton size="4rem" styleClass="mr-2" />
        <p-skeleton width="500px" height="2rem" styleClass="mb-2" />
    </div>
    <div [style]="{'display': 'flex', 'align-items': 'center'}">
        <p-skeleton size="4rem" styleClass="mr-2" />
        <p-skeleton width="500px" height="2rem" styleClass="mb-2" />
    </div>
    <div [style]="{'display': 'flex', 'align-items': 'center'}">
        <p-skeleton size="4rem" styleClass="mr-2" />
        <p-skeleton width="500px" height="2rem" styleClass="mb-2" />
    </div>
</ng-template>
<ng-template #loadinglink>
    <p-skeleton height="3.5rem" width="250px" styleClass="mb-2" borderRadius="30px" />
</ng-template>