<div class="project-card" pRipple [routerLink]="['/portfolio/project', id]">
    <div class="intern">
        <div class="header">
            <div class="left">
                <h2 class="project-name">{{ name }}</h2>
                <h2 class="project-proposal">
                    <span id="proposal-title">Proposta: </span>
                    <span [innerHTML]="proposal | truncate:200"></span>...
                    <app-button 
                    *ngIf="proposal.length > 200"
                    [text]="'Ler mais.'"
                    [styleType]="3"
                    [redirectTo]="'/project/' + id"></app-button></h2>
            </div>
            <div class="right">
                <span class="material-icons">call_made</span>
            </div>                
        </div>
        <div class="stack-container">
            <app-icon *ngFor="let tech of stack" [name]="tech" [size]="'30px'"></app-icon>
        </div>
        <div class="content">
            <div class="image-container">        
                <img [src]="'assets/projects/banner/mini/' + imageUrl" alt="Imagem representativa do projeto">
            </div>
        </div>
    </div>
</div>