header{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 2vh 10vw 0 10vw;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all .1s ease-in-out;
    
    &.scrolled{
        transition: all .1s ease-in-out;
        position: fixed;
        padding: 2vh 3vw;
        
        .main-container{
            background-color: #fff;
            border: 1px solid rgba(17, 17, 17, 0.2196078431);
        }
    }
    
    .main-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: 10vh;
        height: fit-content;
        background-color: aliceblue;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 2vh 2vw;
        
        .logo-container{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            height: 100%;
            align-items: center;
            
            img{
                position: relative;
                display: flex;
                height: 47px;
                object-fit: cover;
            }
        }
        
        .nav-container{
            position: relative;
            display: flex;
            width: fit-content;
            height: 100%;
            gap: 4vw;
            
            ul{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                align-items: center;
                gap: 2vw;
                
                li{
                    color: #111111;
                    font-weight: 600;
                    text-transform: capitalize;
                    cursor: pointer;
                    transition: all .1s ease-in-out;
                    
                    &.active{
                        transition: all .1s ease-in-out;
                        padding: 13px 25px;
                        color: #111111;
                        background: #53E953;
                        border-radius: 5px;
                        border: 1px solid #11111138;
                        
                        &:hover{
                            opacity: .8;
                            
                            &::after{
                                content: '';
                                display: none;
                            }
                        }
                    }
                    
                    &:hover::after{
                        content: '';
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: 4px;
                        background-color: #53E953;
                        transition: all .1s ease-in-out;
                    }
                }
            }
            
            .profile-container{
                position: relative;
                display: flex;
                width: fit-content;
                height: auto;
                align-items: center;
                gap: .5vw .5vw;
                
                #freelancer{
                    position: relative;
                    display: flex;
                    gap: 0 .5vw;
                    border-radius: 30px;
                    width: fit-content;
                    align-items: center;
                    justify-content: center;
                    padding: 13px 25px;
                    background-color: #54E8B8;
                    border: 2px solid #53E953;
                    color: #111111;
                    font-weight: 600;
                    font-size: 1rem;
                    transition: all .1s ease-in-out;
                    border: 1px solid #11111138;
                    cursor: pointer;
                    
                    &:hover{
                        transition: all .1s ease-in-out;
                        opacity: .5;
                    }
                }
                
                .social{
                    position: relative;
                    display: flex;
                    width: fit-content;
                    
                    button{
                        position: relative;
                        display: flex;
                        height: 100%;
                        border: none;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        cursor: pointer;
                        aspect-ratio: 1 / 1;
                        color: #53E953;
                        padding: 10px;
                        overflow: visible;
                        
                        .material-icons{
                            .icon{
                                ::ng-deep {
                                    img{
                                        height: 30px !important;
                                    }
                                }
                            }
                        }
                        
                        &:hover{
                            transition: all .1s ease-in-out;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}