<header>
    <div class="main-container">
        <div class="logo-container">
            <span>LOGO</span>
        </div>
        <div class="nav-container">
            <ul>
                <li class="active" pRipple>Home</li>
                <li>Sobre Nós</li>
                <li>Projetos</li>
                <li>Contato</li>
            </ul>
            <div class="profile-container">
                <button id="register" pRipple>Registrar-se</button>
                <button id="profile" pRipple><span class="material-icons">login</span></button>
            </div>
        </div>
    </div>
</header>