button{
    background-color: transparent;
    border: none;
    
    &.btn{
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;
        border-radius: 30px;
        background-color: #53E953;
        padding: 1.7vh 2vw 1.7vh 2vw;
        font-weight: 600;
        border: none;
        font-size: 1rem;
        align-items: center;
        gap: .7vw;
        border: 1px solid rgba(17, 17, 17, 0.2196078431);
        cursor: pointer;
        outline: none !important;
        transition: all 0.1s ease-in-out;

        &:hover{
            transition: all 0.1s ease-in-out;
            opacity: .8;
        }
        
        &.style-1{
            border-radius: 50% !important;
            aspect-ratio: 1/1;
            padding: 0;
            
            i{
                padding: 1vw;
                aspect-ratio: 1 / 1;
                font-size: 1.2rem;
            }
        }

        &.style-2{
            padding: 1.2vh 2vw 1.2vh 2vw;
            font-size: .8rem;
            border-radius: 5px;
        }

        &.style-3{
            background-color: transparent;
            color: #fff;
            padding: 0;
            border-radius: 0;
            border: none;
        }
    }
}