<div class="page-container">
    <app-section-hero class="page-section"></app-section-hero>
    <app-section-introduction class="animated page-section"></app-section-introduction>
    <app-section-skills class="animated page-section"></app-section-skills>
    <app-section-recent-projects class="animated page-section"></app-section-recent-projects>
    <app-section-conceptual-skills class="animated page-section"></app-section-conceptual-skills>
    <app-section-testimonials class="animated page-section"></app-section-testimonials>
    <app-section-contact-details class="animated page-section"></app-section-contact-details>
</div>