<div class="page-container">
    <app-hero class="page-section"></app-hero>
    <app-introduction class="animated page-section"></app-introduction>
    <app-skills class="animated page-section"></app-skills>
    <app-recent-projects class="animated page-section"></app-recent-projects>
    <app-technological-highlights class="animated page-section"></app-technological-highlights>
    <app-testimonials class="animated page-section"></app-testimonials>
    <app-contact-form class="animated page-section"></app-contact-form>
</div>