<div class="project-content-container">
    <h3 id="name">Nome do projeto</h3>
    <p id="idea"><span>Proposta:</span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="stack-container">
        <app-icon [name]="'angular'" [size]="'30px'"></app-icon>
        <app-icon [name]="'typescript'" [size]="'30px'"></app-icon>
        <app-icon [name]="'sass'" [size]="'30px'"></app-icon>
        <app-icon [name]="'cypressio'" [size]="'30px'"></app-icon>
        <app-icon [name]="'github'" [size]="'30px'"></app-icon>
    </div>
    <hr>
    <div class="links">
        <p pRipple><a href="">Repositório<app-icon [name]="'github'" [size]="'20px'"></app-icon></a></p>
        <p pRipple><a href="">Abrir no navegador<i class="material-icons">open_in_new</i></a></p>
    </div>	
</div>