<section class="main-container">
    <h2>Nossos Serviços</h2>
    <div class="inside-container">
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">rebase_edit</span>
                </div>
                <div class="info-container">
                    <h5>Desenvolvimento de Software Personalizado</h5>
                    <p>Soluções sob medida para atender às necessidades específicas de cada cliente.</p>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">groups</span>
                </div>
                <div class="info-container">
                    <h5>Consultoria em Tecnologia</h5>
                    <p>Orientação técnica para otimizar processos e implementar as melhores práticas tecnológicas.</p>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">mediation</span>
                </div>
                <div class="info-container">
                    <h5>Integração de Sistemas</h5>
                    <p>Conexão e automação entre diferentes plataformas e ferramentas.</p>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">api</span>
                </div>
                <div class="info-container">
                    <h5>Desenvolvimento de APIs</h5>
                    <p>Criação de interfaces para integração de sistemas de forma segura e eficiente.</p>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">rocket_launch</span>
                </div>
                <div class="info-container">
                    <h5>Modernização de Aplicações</h5>
                    <p>Atualização de sistemas legados com tecnologias modernas e escaláveis.</p>
                </div>  
            </div>
        </div>
        <div class="card">
            <div class="content-container">
                <div class="icon-container">
                    <span class="material-icons">support_agent</span>
                </div>
                <div class="info-container">
                    <h5>Manutenção e Suporte Técnico</h5>
                    <p>Acompanhamento contínuo para garantir a estabilidade e eficiência das soluções.</p>
                </div>  
            </div>
        </div>
    </div>
</section>