:host{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0 10.5vw;
}

.main-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5vh 0;
    
    .title-container{
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        
        h1{
            width: 70%;
            font-size: 3rem;
            
            span{
                color: grey;
            }
        }
    }
    
    .main-image-container{
        position: relative;
        display: flex;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: grey;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    
    hr{
        position: relative;
        display: flex;
        width: 80%;
        margin: 7vh auto;
        height: 3px;
        border: none;
        background-color: rgba(128, 128, 128, 0.6);
    }
    
    .section-container{
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        gap: 0 2vw;
        
        &.t-2{
            flex-direction: row-reverse;
            
            .topic-container{
                justify-content: flex-end;
                
                h1{
                    text-align: right;
                }
            }
        }
        
        .child{
            position: relative;
            display: flex;
            width: 50%;
            height: 100%;
            
            &.topic-container{
                height: auto;
                
                h1{
                    font-size: 5rem;
                    padding-right: 5vw;
                    width: min-content;
                }
            }
            
            &.content-container{
                flex-wrap: wrap;
                flex-direction: column;
                gap: 2vh 0;
                
                p{
                    width: 100%;
                    font-size: 1.2rem;
                    text-align: justify;
                    
                    &.p-1{
                        color: #111111;
                        padding: 0 !important;
                        font-weight: 600;
                    }
                    
                    &.p-2{
                        color: grey;
                        padding: 0 !important;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}