@media only screen and (max-width: 768px) {
    .card{
        aspect-ratio: inherit !important;
        padding: 4vh;
        height: 100% !important;
        border-radius: var(--mobile-border-radius) !important;

        .content-container{
            gap: 4vh;
        }
    }
}