<section class="main-container">
	<h2>Projetos Recentes</h2>
	<div class="inside-container">
		<div class="grid-container">
			<div class="item card-1">
				<app-project-card-small></app-project-card-small>
			</div>
			<div pRipple class="item card-2">
				<app-project-card-small></app-project-card-small>
			</div>
			<div pRipple class="item item-li large-item-1">
				<app-vertical-carousel>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-1.png" alt="Imagem de projeto">
					</swiper-slide>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-1.png" alt="Imagem de projeto">
					</swiper-slide>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-1.png" alt="Imagem de projeto">
					</swiper-slide>
				</app-vertical-carousel>
			</div>
			<div pRipple class="item item-li large-item-2">
				<app-vertical-carousel>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-2.png" alt="Imagem de projeto">
					</swiper-slide>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-1.png" alt="Imagem de projeto">
					</swiper-slide>
					<swiper-slide>
						<img class="project-image-large-box" src="/assets/netflix-1.png" alt="Imagem de projeto">
					</swiper-slide>
				</app-vertical-carousel>
			</div>
			<div pRipple class="item card-5">
				<app-project-card-small></app-project-card-small>
			</div>
			<div pRipple class="item card-6">
				<app-project-card-small></app-project-card-small>
			</div>
		</div>
	</div>
</section>
