<section class="main-container">
    <h2>Portfólio</h2>
    <div class="inside-container">
        <div class="grid-container">
            <div pRipple class="item card-1">Item 1</div>
            <div pRipple class="item card-2">Item 2</div>
            <div pRipple class="item large-item-1">Item 3 (Destaque)</div>
            <div pRipple class="item large-item-2">Item 4 (Destaque)</div>
            <div pRipple class="item card-5">Item 5</div>
            <div pRipple class="item card-6">Item 6</div>
        </div>
    </div>
</section>