<section class="main-container">
    <h2>Destaques Tecnológicos</h2>
    <div class="inside-container">
        <div class="card">
            <div class="content">
                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="lightbulb_outline"></mat-icon>           
                <p>Inteligência Artificial</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="filter_drama"></mat-icon>  
                <p>Integração em Nuvem</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="phonelink"></mat-icon>  
                <p>Design Responsivo</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="settings_suggest"></mat-icon>  
                <p>Sistemas de Gerenciamento de Conteúdo (CMS)</p>
            </div>
        </div>
    </div>
</section>