<section class="main-container">
    <h2>Destaques Tecnológicos</h2>
    <div class="inside-container">
        <div class="grid-container">
            <div pRipple class="item card-1 card-l">
                <div class="card">
                    <div class="header">
                        <mat-icon aria-hidden="false" aria-label="icon" fontIcon="lightbulb_outline"></mat-icon>           
                        <h3 class="title">Inteligência Artificial</h3>
                    </div>
                    <div class="text-container">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sapiente nobis possimus iusto alias distinctio cum magnam. Delectus, nesciunt provident, aliquid, neque accusantium iusto laboriosam labore harum aut eius temporibus?</p>
                    </div>
                    <div class="links">
                        <p>
                            <a>
                                <span>Visitar Projetos</span>
                                <span class="material-icons">chevron_right</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div pRipple class="item card-2 card-n">
                <img src="" alt="Project Image">
            </div>
            <div pRipple class="item card-3 card-n">
                <img src="" alt="Project Image">
            </div>
            <div pRipple class="item card-4 card-n">
                <img src="" alt="Project Image">
            </div>
            <div pRipple class="item card-5 card-n">
                <img src="" alt="Project Image">
            </div>
            <div pRipple class="item card-6 card-l">
                <div class="card">
                    <div class="header">
                        <mat-icon aria-hidden="false" aria-label="icon" fontIcon="settings_suggest"></mat-icon>  
                        <h3 class="title">Sistemas de Gerenciamento de Conteúdo (CMS)</h3>
                    </div>
                    <div class="text-container">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sapiente nobis possimus iusto alias distinctio cum magnam. Delectus, nesciunt provident, aliquid, neque accusantium iusto laboriosam labore harum aut eius temporibus?</p>
                    </div>
                    <div class="links">
                        <p>
                            <a>
                                <span>Visitar Projetos</span>
                                <span class="material-icons">chevron_right</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div pRipple class="item card-7 card-l">
                <div class="card">
                    <div class="header">
                        <mat-icon aria-hidden="false" aria-label="icon" fontIcon="filter_drama"></mat-icon>  
                        <h3 class="title">Integração em Nuvem</h3>
                    </div>
                    <div class="text-container">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sapiente nobis possimus iusto alias distinctio cum magnam. Delectus, nesciunt provident, aliquid, neque accusantium iusto laboriosam labore harum aut eius temporibus?</p>
                    </div>
                    <div class="links">
                        <p>
                            <a>
                                <span>Visitar Projetos</span>
                                <span class="material-icons">chevron_right</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div pRipple class="item card-8">
                <img src="" alt="Project Image">
            </div>
            <div pRipple class="item card-9">
                <img src="" alt="Project Image">
            </div>
        </div>
    </div>
</section>