<section class="main-container">
	<h2>Conceitos Tecnológicos</h2>
	<div class="inside-container">
		<div class="grid-container">
			<div pRipple class="item card-1 card-l card-l-1">
				<div class="card">
					<div class="header">
						<i class="material-icons">brush</i>
						<h3 class="title">FRONTEND</h3>
					</div>
					<div class="text-container">
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
							sapiente nobis possimus iusto alias distinctio cum magnam.
							Delectus, nesciunt provident, aliquid, neque accusantium iusto
							laboriosam labore harum aut eius temporibus?
						</p>
					</div>
					<div class="links">
						<p>
							<a>
								<span>Visitar Projetos Frontend</span>
								<span class="material-icons">chevron_right</span>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div pRipple class="item card-2 card-n right">
				<swiper-container
				class="mySwiper"
				effect="cards"
				grab-cursor="true"
				pagination="true"
				>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'account_balance'" [title]="'Padrões de design'" [description]="'SOLID e TDD'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'settings_suggest'" [title]="'Gerenciamento de estado'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'http'" [title]="'Protocolo HTTP'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'security'" [title]="'Estratégia de Autenticação'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'search'" [title]="'SEO'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'biotech'" [title]="'Testes unitários'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'css'" [title]="'SASS'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'phonelink'" [title]="'Responsividade'" [description]="'dawdwawadwa'"></app-tech-card>
				</swiper-slide>
				<swiper-slide class="carousel-item">
					<app-tech-card [icon]="'share'" [title]="'Controle de versão'" [description]="'Git - Github'"></app-tech-card>
				</swiper-slide>
			</swiper-container>
		</div>
		<div pRipple class="item card-4 card-n left">
			<swiper-container
			class="mySwiper"
			effect="cards"
			grab-cursor="true"
			pagination="true"
			>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'lock_outline'" [title]="'Spring Security'" [description]="'Autenticação JWT'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'account_tree'" [title]="'Hibernate (ORM)'" [description]="'dawdawdw'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'web_stories'" [title]="'Spring Data'" [description]="'Spring Data JPA'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'miscellaneous_services'" [title]="'Microsserviços'" [description]="'dawdawdaw'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'schedule'" [title]="'Scheduling'" [description]="'dawdawdaw'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'memory'" [title]="'Multithreading'" [description]="'dawdawdaw'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'biotech'" [title]="'Testes unitários'" [description]="'dawdwawadwa'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'timeline'" [title]="'Testes de integração'" [description]="'dawdwawadwa'"></app-tech-card>
			</swiper-slide>
			<swiper-slide class="carousel-item">
				<app-tech-card [icon]="'share'" [title]="'Controle de versão'" [description]="'Git - Github'"></app-tech-card>
			</swiper-slide>	
		</swiper-container>
	</div>
	<div pRipple class="item card-6 card-l card-l-2">
		<div class="card">
			<div class="header">
				<i class="material-icons">dns</i>
				<h3 class="title">BACKEND</h3>
			</div>
			<div class="text-container">
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
					sapiente nobis possimus iusto alias distinctio cum magnam.
					Delectus, nesciunt provident, aliquid, neque accusantium iusto
					laboriosam labore harum aut eius temporibus?
				</p>
			</div>
			<div class="links">
				<p>
					<a>
						<span>Visitar Projetos Backend</span>
						<span class="material-icons">chevron_right</span>
					</a>
				</p>
			</div>
		</div>
	</div>
	<div pRipple class="item card-7 card-l card-l-3">
		<div class="card">
			<div class="header">
				<i class="material-icons">add_circle_outline</i>
				<h3 class="title">GERAL</h3>
			</div>
			<div class="text-container">
				<p class="text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
					sapiente nobis possimus iusto alias distinctio cum magnam.
					Delectus, nesciunt provident, aliquid, neque accusantium iusto
					laboriosam labore harum aut eius temporibus?
				</p>
			</div>
		</div>
	</div>
	<div pRipple class="item card-8 card-n right">
		<swiper-container
		class="mySwiper"
		effect="cards"
		grab-cursor="true"
		pagination="true"
		>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'cloud'" [title]="'Azure'" [description]="'dawawdwa'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'table_chart'" [title]="'Banco de dados SQL'" [description]="'dawawdwa'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'data_array'" [title]="'Banco de dados NoSQL'" [description]="'dawawdwa'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'data_object'" [title]="'ORM'" [description]="'JPA/Hibernate (Java) e Sequelize (Node.js)'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'map'" [title]="'DevOps'" [description]="'dawdawawdaw'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'auto_mode'" [title]="'CI/CD - Integração Contínua e Deploy Contínuo'" [description]="'dawdawawdaw'"></app-tech-card>
		</swiper-slide>
		<swiper-slide class="carousel-item">
			<app-tech-card [icon]="'inbox'" [title]="'Docker'" [description]="'dawdawawdaw'"></app-tech-card>
		</swiper-slide>
	</swiper-container>
</div>
</div>
</div>
</section>
