@media only screen and (max-width: 768px) {
    .items-container{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: auto !important;

        .item{
            grid-column: 1/2 !important;
            grid-row: auto !important;
            padding: 7vh 7% !important;
        }
    }
}