<div class="container">
    <div class="child image-container">
        <img src="/assets/hand-coding-bro.png" alt="Imagem">
    </div>
    <div class="child">
        <div class="content-container">
            <div class="item-container">
                <div class="item">
                    <h5><span>01</span>Repositórios Github</h5>
                    <p>60</p>
                </div>
            </div>
            <hr>
            <div class="item-container">
                <div class="item">
                    <h5><span>02</span>Cursos concluídos (carga horária)</h5>
                    <p>11 (297h)</p>
                </div>
            </div>
            <hr>
            <div class="item-container">
                <div class="item">
                    <h5><span>03</span>Projetos</h5>
                    <p>12</p>
                </div>
            </div>
            <hr id="last-hr">
        </div>
    </div>
</div>