<div class="container">
    <div class="item-container">
        <div class="item">
            <h5><span>01</span>Repositórios Github</h5>
            <p>60</p>
        </div>
    </div>
    <div class="item-container">
        <div class="item">
            <h5><span>02</span>Cursos concluídos (carga horária)</h5>
            <p>11 (297h)</p>
        </div>
    </div>
    <div class="item-container">
        <div class="item">
            <h5><span>03</span>Projetos</h5>
            <p>12</p>
        </div>
    </div>
</div>