<section class="main-container">
    <app-section-title [text]="'Transformamos desafios tecnológicos em'" [emphasis]="'soluções inovadoras para o seu sucesso'"></app-section-title>
    <div class="main-image-container">
        <img src="/assets/about-image.jpg" alt="Imagem ilustrativa">
    </div>
    <hr>
    <div class="section-container">
        <div class="child topic-container">
            <h1>Apresentação Pessoal</h1>
        </div>
        <div class="child content-container">
            <p class="p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sapiente iure vitae dolore vero culpa perspiciatis praesentium, nostrum numquam expedita consectetur at, laborum similique aut! Expedita qui nostrum accusantium consectetur.</p>
            <p class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ab facilis voluptates tenetur quam voluptate veniam enim nihil, numquam, accusamus tempora, deserunt magni totam pariatur eaque qui ad! Omnis, minima.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit autem eum exercitationem porro incidunt nesciunt nisi dignissimos possimus inventore repudiandae, aut illo nulla odit optio quibusdam asperiores impedit cumque accusamus!</p>
        </div>
    </div>
    <hr>
    <div class="section-container t-2">
        <div class="child topic-container">
            <h1>Experiência e Especialização</h1>
        </div>
        <div class="child content-container">
            <p class="p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sapiente iure vitae dolore vero culpa perspiciatis praesentium, nostrum numquam expedita consectetur at, laborum similique aut! Expedita qui nostrum accusantium consectetur.</p>
            <p class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ab facilis voluptates tenetur quam voluptate veniam enim nihil, numquam, accusamus tempora, deserunt magni totam pariatur eaque qui ad! Omnis, minima.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit autem eum exercitationem porro incidunt nesciunt nisi dignissimos possimus inventore repudiandae, aut illo nulla odit optio quibusdam asperiores impedit cumque accusamus!</p>
        </div>
    </div>
    <hr>
    <div class="section-container">
        <div class="child topic-container">
            <h1>Valores e Metodologia de Trabalho</h1>
        </div>
        <div class="child content-container">
            <p class="p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sapiente iure vitae dolore vero culpa perspiciatis praesentium, nostrum numquam expedita consectetur at, laborum similique aut! Expedita qui nostrum accusantium consectetur.</p>
            <p class="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio ab facilis voluptates tenetur quam voluptate veniam enim nihil, numquam, accusamus tempora, deserunt magni totam pariatur eaque qui ad! Omnis, minima.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit autem eum exercitationem porro incidunt nesciunt nisi dignissimos possimus inventore repudiandae, aut illo nulla odit optio quibusdam asperiores impedit cumque accusamus!</p>
        </div>
    </div>
    <hr>
    <div class="section-container t-2">
        <div class="child topic-container">
            <h1>Freelancer</h1>
        </div>
        <div class="child content-container">
            <p class="p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi sapiente iure vitae dolore vero culpa perspiciatis praesentium, nostrum numquam expedita consectetur at, laborum similique aut! Expedita qui nostrum accusantium consectetur.</p>
            <img src="/assets/merco-logo.jpeg" alt="Logo Merco" id="merco-logo">
        </div>
    </div>
</section>