<div class="page-container">
    <app-base-container>
        <app-section-title [text]="'Transformo desafios tecnológicos em'" [emphasis]="'soluções inovadoras'"></app-section-title>
        <div class="main-image-container">
            <img src="assets/about-image.jpg" alt="Imagem ilustrativa">
        </div>
        <hr>
        <div class="section-container" id="personalPresentation_">
            <div class="child topic-container">
                <h1>Apresentação Pessoal</h1>
            </div>
            <div class="child content-container">
                <p class="p-1">Me chamo Raphael Muniz, sou estudante de Sistemas de Informação na Universidade Federal de Uberlândia e desenvolvedor full stack - minha principal stack é Angular e Spring - com proficiência no backend.</p>
                <p class="p-2">Entre minhas principais características estão o autodidatismo, a capacidade de resolução de problemas, o trabalho em equipe e a flexibilidade.</p>
                <p class="p-2">Minha missão no mundo da tecnologia da informação é solucionar problemas, com ênfase nos desafios que envolvem projetos complexos, os quais demandam conhecimento em desenvolvimento de sistemas escaláveis e performáticos.</p>
            </div>
        </div>
        <hr>
        <div class="section-container t-2" id="specialization_">
            <div class="child topic-container">
                <h1>Experiência e Especialização</h1>
            </div>
            <div class="child content-container">
                <p class="p-1">Iniciei meus estudos na área de Sistemas de Informação em 2020, quando ingressei no Instituto Federal de São Paulo, onde cursei o Ensino Médio Técnico (Técnico em Informática). Durante esse período, tive meu primeiro contato com programação e, movido pela curiosidade, comecei a estudar também de forma autônoma, explorando tecnologias que atendiam às necessidades momentâneas para desenvolver os sistemas que eu desejava criar. Desde então, não limitei meu aprendizado ao âmbito acadêmico.</p>
                <p class="p-2">Por volta de 2022, decidi me especializar na carreira full stack, começando com a stack React e NodeJs. Com essas tecnologias, desenvolvi inúmeros projetos, que estão disponíveis no meu portfólio. Em 2024, migrei para tecnologias mais robustas, como Spring (Java) e Angular (TypeScript), por serem ferramentas mais adequadas às minhas novas propostas de projetos, que demandam tipagem forte, escalabilidade e organização.</p>
                <p class="p-2">Também possuo conhecimento em bancos de dados SQL e NoSQL, como PostgreSQL, MySQL e MongoDB. Além disso, tenho experiência com versionamento utilizando Git, containerização com Docker e serviços em nuvem, como o Azure.</p>
            </div>
        </div>
        <hr>
        <div class="section-container" id="valuesWorkMethodology_">
            <div class="child topic-container">
                <h1>Valores e Metodologia de Trabalho</h1>
            </div>
            <div class="child content-container">
                <p class="p-1">Meu trabalho é guiado por valores como ética, inovação e compromisso com a excelência. Acredito que cada projeto é único e, por isso, priorizo a escuta ativa e o planejamento detalhado para atender às necessidades específicas de cada cliente.</p>
                <p class="p-2">Minha metodologia de trabalho envolve análise, desenvolvimento iterativo e testes rigorosos, garantindo soluções funcionais e de alta qualidade. Mais do que códigos, entrego resultados que fazem sentido para os objetivos de cada negócio.</p>
            </div>
        </div>
        <hr>
        <div class="section-container t-2" id="freelancer_">
            <div class="child topic-container">
                <h1>Freelancer</h1>
            </div>
            <div class="child content-container">
                <p class="p-1">Em breve.</p>
                <img src="assets/merco-logo.jpeg" alt="Logo Merco" id="merco-logo">
            </div>
        </div>
    </app-base-container>
</div>